nav{
    background-color: rgb(62, 198, 247);
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

nav a{
  text-decoration: none;
  border: 3px solid darkblue;
  background-color: darkblue;
  color: white;
  padding: 10px;
}

ul{
    list-style: none;
    }

li{ 
    display: inline-block;
    margin-bottom: 4%;
    padding: auto;
}

nav a:hover{
    background-color: white;
    color: darkblue;
}

#oreo_text{
    margin-top: 12px ;
    width: 200px;
    border-radius: 50%;
}


#intro{
    text-align: center;
}

.product{
    text-align: center;
    width: 400px;
    border: 3px solid darkblue;
    margin-left: 30%;
    background-color: rgb(246, 241, 235);
}


#img2{
    width: 350px;
}

#img3{
    width: 260px ;
}

footer{


}